<launch>
  <!-- 参数配置 -->
  <arg name="enable_imu" default="true" />
  <arg name="imu_port" default="/dev/ttyACM0" />
  <arg name="imu_baud" default="460800" />
  
  <!-- 1. 启动 D435 相机 -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
  
  <!-- 2. 启动 YESENSE 官方 IMU 驱动 -->
  <group if="$(arg enable_imu)">
    <node pkg="yesense_imu" type="yesense_imu_node" name="yesense_imu_node" required="true" output="screen">
      <param name="port" value="$(arg imu_port)" />
      <param name="baud_rate" value="$(arg imu_baud)" />
    </node>
    
    <!-- 重映射话题到 /imu/data -->
    <node pkg="topic_tools" type="relay" name="imu_relay" args="/imu/data /imu/data" />
  </group>
</launch>
