<launch>
  <!-- IMU 参数配置 -->
  <arg name="imu_port" default="/dev/ttyACM0" />
  <arg name="imu_baud" default="460800" />

  <!-- 启动 YESENSE 官方 IMU 驱动 -->
  <node pkg="yesense_imu" type="yesense_imu_node" name="yesense_imu_node" required="true" output="screen">
    <param name="port" value="$(arg imu_port)" />
    <param name="baud_rate" value="$(arg imu_baud)" />
  </node>
</launch>
